[project]
	description = OpenStack + MidoNet development environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-integration
[access "refs/for/refs/*"]
	read = group Anonymous Users
	push = group Anonymous Users
	label-Code-Review = -2..+2 group midonet
	label-Code-Review = -2..+2 group midostack-core
	label-Code-Review = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group midonet-admin
	label-Verified = -1..+1 group midonet-bots
	label-Verified = -1..+1 group midostack-core
	rebase = group midonet
	removeReviewer = group midonet
	submit = group midonet
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group midonet
	push = +force group midonet
	pushMerge = group midonet
[access "refs/tags/*"]
	push = +force group midonet
	pushTag = group midonet
	pushSignedTag = group midonet
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
