[project]
	description = OpenStack + MidoNet development environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
[access "refs/heads/*"]
	read = group Anonymous Users
	label-Code-Review = -2..+2 group midonet-integration
	label-Code-Review = -1..+1 group Anonymous Users
	forgeCommitter = group midonet-integration
	pushMerge = group midonet-integration
	label-Verified = -1..+1 group midonet-bots
	label-Verified = -1..+1 group midonet-integration
	push = +force group midonet-integration
	submit = group midonet-integration
	labelAs-Verified = -1..+1 group midonet-integration
	exclusiveGroupPermissions = forgeCommitter push pushMerge label-Code-Review label-Verified labelAs-Verified submit
[access "refs/tags/*"]
	pushTag = +force group midonet-integration
	pushSignedTag = group midonet-integration
	read = group Anonymous Users
	exclusiveGroupPermissions = read pushTag pushSignedTag
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[access "refs/drafts/*"]
	push = group Registered Users
	read = group Registered Users
	forgeAuthor = group Registered Users
[access "refs/publish/*"]
	read = group Registered Users
	push = group Registered Users
	forgeAuthor = group Registered Users
